@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    text-align: center;
}

.test {
    h1 {
        font-size: 48px;
    }
    button {
        background-color: blue;
    }
}

.editor [class*=ProseMirror] {
    border: 5px solid #000;
    & > * + * {
      margin-top: 0.75em;
    }
}

